.gallery img{
    width: 100%;
    list-style-image: inherit;
}
h2{
    font-family: impact, fantasy;
    text-align: center;
    font-size:  30px;
    color:darkgreen;
    font-style: italic;
}

h4{
    font-family: impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: darkgreen;
}

p{
    font-family: helvetic, sans-serif;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: darkgreen;
    padding-top: 20px;
}

#menu a{
    color: #ffffff;
    font-family: helvetic, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
    
}
a{
    padding-top: 30px;
}

#menu a:hover{
    color: aquamarine;
}

h3 hover{
    font-family: inherit;
    font-style: italic;
    border-bottom-style: dashed;
    
}